h1
{
  text-align: center;
}

label
{
  font-weight: bold;
}

body
{
  font-family: sans-serif;
}

select
{
  vertical-align: middle;
}

table
{
  text-align: center;
}

td
{
  border: 2pt;
  border-style: Solid;
  border-color: DarkCyan;
  padding: .2cm;
  padding-left: .3cm;
  padding-right: .3cm;
}

#times
{
  margin-left: 1cm;
}

#loginframe
{
  border: 3pt;
  border-color: Black;
  border-style: solid;
  padding: .5cm;
  margin-right: 8cm;
  margin-left: 8cm;
  text-align: center;
}

.singletutor
{
  margin-top: 1cm;
  margin-bottom: 1cm;
}

.comment
{
  font-style: italic;
  font-size: .8em;
}

.biglabel
{
  font-size: 1.2em;
}

.sched
{
  border: 3pt;
  border-style: solid;
  border-color: Black;
}

.creator
{
  margin: .5cm;
  margin-top: .3cm;
  margin-bottom: .3cm;
}
